body{
    margin: 0px;
    background-color: antiquewhite;
    font-family: sans-serif;
    text-align: center;
    padding: 0 500px;
}
#contact-heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
}
.contact-list-container ul{
    padding: 0;
    list-style: none;
    
}
.contacts{
    padding: 3px 10px;
    border: 1px solid white;
    background-color: lightblue;
    box-shadow: 1px 1px 1px 1px lightgrey;
    color: darkslategray;
    display: flex;
}
.contacts .contact-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}
.contacts:hover{
    background-color: lightseagreen;
    color: white;
}

.contacts .delete-button{
    width: 10%;
    padding: 4px;
    margin-top: 3px;
    text-align: center;
}

.contacts .delete-button a{
    color: palevioletred;
    background-color: azure;
}
.contact-details p{
    margin: 5px 0;
}

#new-contact-form{
    display: flex;
    flex-direction: row;
}

#new-contact-form input{
    border: none;
    border-bottom: 2px solid lightsteelblue;
    width: 80%;
    padding: 0px 2px;
    margin: 0px 3px;
}

#new-contact-form button{
    background-color: lightcoral;
    color: darkslategray;
}